<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="../static/images/favicon/site.webmanifest">
  <link rel="stylesheet" href="../static/css/font.css">
    <title>SSquare</title>
</head>

<body>
  <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{{url_for('home')}}">
        <img style="width: 100px; border-radius: 10px;" src="../static/images/logo.png" alt="Ourlogo" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('team')}}">
              About Us
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{{ url_for('products',category='electronics')}}">
                  Electronics
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('products',category='books')}}">
                  Books
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('products',category='homeandkitchen')}}">
                  Home & Kitchen
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('products',category='sports')}}">
                  Sports
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('products',category='beauty')}}">
                  Beauty
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('products',category='fashion')}}">
                  Fashion
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search" method="POST" action="{{url_for('search')}}">
          <input class="form-control me-2" type="search" placeholder="Search" name="search_con" aria-label="Search" />
          <br />
        </form>
        <a type="button" class="btn btn-outline-light me-2" id="signup"
          href="{{url_for('show_personal')}}">
          <i class='bx bxs-user'></i>  Account
        </a>
        <a class="btn btn-warning" id="login" href="{{url_for('cart')}}">
          <i class='bx bxs-cart'></i> Cart
        </a>
      </div>
    </div>
  </nav>
    <img style="width: 300px;" src="../atatic/images/logo.png" class="rounded mx-auto d-block" alt="logo_sSquare" />
    <div class='container text-center pb-5 pt-3'>
        <h5>Safe and Secure Shopping</h5>
        Is it safe to use my credit/debit card on Salesquare?
        Your online transaction on Salesquare is secure with the

        highest levels of transaction security currently available on the Internet. Salesquare uses 256-bit encryption
        technology to protect your card information while securely transmitting it to the respective banks for payment
        processing. All credit card and debit card payments on Salesquare are processed through secure and trusted
        payment gateways managed by leading banks. Banks now use the 3D Secure password service for online transactions,
        providing an additional layer of security through identity verification.

        Does Salesquare store my credit/debit card infomation?

        Flipkart stores the first 6 and last 4 digits of your card number in a secure and encrypted manner. The first 6
        digits (also known as the Bank Identification Number) are used to identify the bank name and country where your
        card was issued. The first 6 and last 4 digits are together used for fraud detection and prevention purposes.

        Payment Options
        What credit/debit cards are accepted on Salesquare?

        We accept VISA, MasterCard, Maestro, Rupay, American Express, Diner's Club and Discover credit/debit cards.

        Do you accept payment made by credit/debit cards issued in other countries?

        Yes! We accept VISA, MasterCard, Maestro, American Express credit/debit cards issued by banks in India and in
        the following countries: Australia, Austria, Belgium, Canada, Cyprus, Denmark, Finland, France, Germany,
        Ireland, Italy, Luxembourg, the Netherlands, New Zealand, Norway, Portugal, Singapore, Spain, Sweden, the UK and
        the US. Please note that we do not accept internationally issued credit/debit cards for eGV payments/top-ups.
        What other payment options are available on Flipkart?
        Apart from Credit and Debit Cards, we accept payments by Internet Banking (covering 44 banks), Cash-on-Delivery,
        Equated Monthly Installments (EMI), E-Gift Vouchers, PhonePe UPI and PhonePe wallet.
    </div>
    <div class="bg-dark text-white">
      <footer class="row rowss p-5 border-top">
        <div class="col-12 col-md-2 mb-3 text-center">
          <a href="{{url_for('home')}}" class="d-flex mb-3 px-auto text-decoration-none">
            <img src="../static/images/logo.png" width="100" class='mx-auto'></img>
          </a>
          <p class="text-muted">SalesSquare © 2023</p>
        </div>
        <div class="col mb-3 text-center">
          <h5>Know Us</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{{url_for('home')}}" class="nav-link p-0 text-muted">Home</a></li>
            <li class="nav-item mb-2"><a href="{{url_for('team')}}" class="nav-link p-0 text-muted">Our Team</a></li>
          </ul>
        </div>
  
        <div class="col mb-3 text-center">
          <h5>Our Policy</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{{url_for('returnPolicy')}}" class="nav-link p-0 text-muted">Return Policy</a></li>
            <li class="nav-item mb-2"><a href="{{url_for('security')}}" class="nav-link p-0 text-muted">Security</a></li>
          </ul>
        </div>
  
        <div class="col mb-3 text-center">
          <h5>Want Help?</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{{url_for('contact')}}" class="nav-link p-0 text-muted">Contact Us</a></li>
          </ul>
        </div>
        <div class="col mb-3 text-center">
          <h5>Follow Us On</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="https://www.instagram.com/surya_21rk/" class="nav-link p-0 text-muted">Instagram</a></li>
            <li class="nav-item mb-2"><a href="https://www.facebook.com/profile.php?id=100009326008564" class="nav-link p-0 text-muted">Facebook</a></li>
          </ul>
        </div>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>